$primary-color: #1890ff;

$dark-border-color: #4e4e4e;
$light-border-color: #e4e7ed;

.APP[color-mode="light"] {
	--surface1: #ffffff;
	--surface2: #000000;
}

.APP[color-mode="dark"] {
	--surface1: #000000;
	--surface2: #ffffff;
}
.textColor {
	color: var(--surface1);
}